<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://central/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://central.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Person.browse" caption="msg://main.screen.central/personBrowse.menu"/>
        <item screen="Supplier.browse" caption="msg://main.screen.central/supplierBrowse.menu"/>
        <item screen="Document.browse" caption="msg://main.screen.central/documentBrowse.menu"/>
        <item screen="Location.browse" caption="msg://main.screen.locations/locationBrowse.menu"/>
        <item screen="Unit.browse" caption="msg://main.screen.locations/unitBrowse.menu"/>
        <item screen="CoefficientType.browse" caption="msg://main.screen.locations/coefficientTypeBrowse.menu"/>
    </menu>

</menu-config>